.livecalls-card{

background:#fff;

border-radius:20px;

padding:25px;

box-shadow:0 8px 25px rgba(0,0,0,.06);

height:100%;

}

.livecalls-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.livecalls-header h3{

font-size:22px;

color:#2c2c54;

}

.livecalls-header span{

background:#f5f6ff;

padding:6px 12px;

border-radius:20px;

font-size:13px;

color:#7367f0;

font-weight:600;

}

/* Circle */

.progress-circle{

display:flex;

justify-content:center;

margin:30px 0;

}

.progress-circle::before{

content:"";

position:absolute;

}

.circle-inner{

width:180px;

height:180px;

border-radius:50%;

background:
conic-gradient(
#7367f0 0%,
#7367f0 85%,
#eceef7 85%,
#eceef7 100%
);

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

position:relative;

}

.circle-inner::after{

content:"";

position:absolute;

width:130px;

height:130px;

background:white;

border-radius:50%;

}

.circle-inner h2{

position:relative;

z-index:10;

font-size:36px;

color:#2c2c54;

}

.circle-inner p{

position:relative;

z-index:10;

color:#8d94b2;

}

.stats{

margin-top:20px;

display:flex;

flex-direction:column;

gap:18px;

}