.table-card{

background:white;

border-radius:20px;

padding:25px;

box-shadow:0 8px 25px rgba(0,0,0,.06);

}

.table-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.table-header h2{

font-size:24px;

color:#2c2c54;

}

.table-header input{

width:260px;

height:42px;

padding:0 15px;

background:#f5f7fc;

border-radius:10px;

}

table{

width:100%;

border-collapse:collapse;

}

th{

text-align:left;

padding:18px;

background:#f5f7fc;

font-size:14px;

}

td{

padding:18px;

border-bottom:1px solid #edf1f7;

font-size:14px;

}

tbody tr:hover{

background:#fafbff;

}

.badge{

padding:6px 15px;

border-radius:30px;

font-size:13px;

font-weight:600;

}

.green{

background:#dff7e8;

color:#00a854;

}

.orange{

background:#fff3dc;

color:#ff9800;

}

.blue{

background:#dde8ff;

color:#4b5cff;

}

.red{

background:#ffe2e2;

color:#ff4d4f;

}