.status{

padding:6px 15px;

border-radius:30px;

font-size:13px;

font-weight:600;

}

.status.paid{

background:#dff7e8;

color:#00a854;

}

.status.pending{

background:#fff3dc;

color:#ff9800;

}

.status.completed{

background:#dde8ff;

color:#4b5cff;

}

.status.failed{

background:#ffe2e2;

color:#ff4d4f;

}