.kpi-card{

padding:22px;

border-radius:20px;

color:white;

display:flex;

flex-direction:column;

justify-content:space-between;

height:155px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.kpi-card:hover{

transform:translateY(-6px);

}

.kpi-header{

display:flex;

justify-content:space-between;

align-items:flex-start;

}

.kpi-title{

font-size:14px;

opacity:.9;

margin-bottom:10px;

}

.kpi-value{

font-size:34px;

font-weight:700;

}

.kpi-icon{

width:58px;

height:58px;

border-radius:16px;

background:rgba(255,255,255,.2);

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

}

.kpi-footer{

margin-top:20px;

}

.trend{

font-size:13px;

font-weight:600;

}

/* COLORS */

.orange{

background:linear-gradient(135deg,#ffb347,#ff7b54);

}

.purple{

background:linear-gradient(135deg,#7367f0,#9c8cff);

}

.blue{

background:linear-gradient(135deg,#36a2ff,#007bff);

}

.green{

background:linear-gradient(135deg,#1bcfb4,#00c853);

}