.sidebar{

width:260px;

background:white;

padding:30px 18px;

border-right:1px solid #edf1f7;

display:flex;

flex-direction:column;

}

.logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:45px;

}

.logo-circle{

width:55px;

height:55px;

border-radius:15px;

background:linear-gradient(135deg,#7367f0,#9c8cff);

display:flex;

align-items:center;

justify-content:center;

color:white;

font-weight:bold;

font-size:18px;

}

.logo h2{

font-size:21px;

color:#2d2d52;

}

.logo p{

font-size:13px;

color:#888;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:10px;

}

.menu{

display:flex;

align-items:center;

gap:15px;

padding:15px;

cursor:pointer;

border-radius:14px;

transition:.3s;

color:#555;

font-weight:500;

}

.menu:hover{

background:#f5f4ff;

}

.menu.active{

background:linear-gradient(135deg,#7367f0,#8d7dff);

color:white;

box-shadow:0 12px 25px rgba(115,103,240,.25);

}

.menu-icon{

font-size:21px;

display:flex;

align-items:center;

justify-content:center;

}