/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --bg:#f4f7fc;
    --white:#ffffff;

    --primary:#4b49f5;
    --orange:#ffa726;
    --pink:#ff3ea5;
    --blue:#4b5cff;
    --cyan:#10c7d4;

    --text:#222;
    --text-light:#6d7485;

    --shadow:0 5px 18px rgba(0,0,0,.06);
    --radius:18px;

}

body{

    font-family:'Inter',sans-serif;
    background:var(--bg);
    color:var(--text);

}

button{

    border:none;
    cursor:pointer;
    font-family:inherit;

}

input{

    border:none;
    outline:none;
    font-family:inherit;

}

a{

    text-decoration:none;
    color:inherit;

}

ul{

    list-style:none;

}

img{

    display:block;
    max-width:100%;

}