.revenue-chart-card{

background:#fff;

border-radius:42px;

padding:35px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.chart-title{

margin-bottom:20px;

}

.chart-title h3{

margin:0;

font-size:24px;

color:#2c2c54;

}

.chart-title p{

margin-top:15px;

color:#8d94b2;

}